<h1>Shopify App</h1>
<p>Click on the following links to import and view the following objects</p>
<p><%= link_to 'Customers', controller: 'customers' %></p>
<p><%= link_to 'Products', controller: 'products' %></p>
<p><%= link_to 'Orders', controller: 'orders' %></p>
