<h1>Product Information</h1>
<p>
  <strong>Shopify ID:</strong>
  <%= @product.shopify_id %>
</p>
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>
